__pycache__/
*.py[cod]
*$py.class
.venv/
venv
.venv311/
index/
*.pkl
.DS_Store
Thumbs.db
*.log
pip-log.txt
nltk_data
requirements.txt
README.md
data/
src/
*.log
pip-log.txt
nltk_data
src/.venv311/
libtorch_cpu.dylib
